In [26]:
import pandas as pd
'''mysql client for mysql db '''
import MySQLdb

In [27]:
'''mysql connection string '''
db_connection = MySQLdb.connect(host='localhost', 
                                db='***', 
                                user='root', 
                                passwd='****') 
print("Succesfully Connected to database using MySQLdb!") 
''''db_connection.close()'''

Succesfully Connected to database using MySQLdb!

"'db_connection.close()"

In [28]:
qry=pd.read_sql("SELECT * FROM sms_crm_incomming ",db_connection)
qry

,id,date_received,resolution_code,sender_name,message,sender_number,locked_by
0,1,2020-11-08,sms100,kasibante,test11111,256752604798,kasibante
1,2,2020-11-01,sms100,kasibante,eeeeee,2567526047983333,kasibante
2,3,2020-11-16,eeee6666,333333,3333333,256752604798333,0

In [29]:
qry2=pd.read_sql("SELECT * FROM sms_crm_incomming where locked_by like 'k%' ",db_connection)
qry2

,id,date_received,resolution_code,sender_name,message,sender_number,locked_by
0,1,2020-11-08,sms100,kasibante,test11111,256752604798,kasibante
1,2,2020-11-01,sms100,kasibante,eeeeee,2567526047983333,kasibante

In [30]:
#close db connection after fetching all the neccessary data from database using sql
db_connection.close()

# Convert query results to pandas data frames

In [31]:
df=pd.DataFrame(qry)
df

,id,date_received,resolution_code,sender_name,message,sender_number,locked_by
0,1,2020-11-08,sms100,kasibante,test11111,256752604798,kasibante
1,2,2020-11-01,sms100,kasibante,eeeeee,2567526047983333,kasibante
2,3,2020-11-16,eeee6666,333333,3333333,256752604798333,0

In [32]:
duplicated_data= df.duplicated(['resolution_code'])

duplicated_data

0    False
1     True
2    False
dtype: bool

In [33]:
#remove duplicates on the resolution_code column
remove_duplicate_resolution_code= df.drop_duplicates(['resolution_code'])
remove_duplicate_resolution_code

,id,date_received,resolution_code,sender_name,message,sender_number,locked_by
0,1,2020-11-08,sms100,kasibante,test11111,256752604798,kasibante
2,3,2020-11-16,eeee6666,333333,3333333,256752604798333,0