#                                    PYTHON MYSQL

In [1]:
#PYTHON MYSQL CONNECTION USING SQLAlchemy
#URL
#Install Sql Alchemy
#   -pip install sqlalchemy

# CONNECT TO DATABASE

In [2]:
#-create_engine : this create_engine creates connection to the database
#-connect() : connect() methods executes the connection in the engine class

In [3]:
from sqlalchemy import create_engine
#engine=create_engine('sqlite:///college.db', echo = True
#engine.connect()
engine=create_engine("mysql://root:kasibante@localhost/college",echo = True)
engine.connect()

2021-03-14 09:42:07,505 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2021-03-14 09:42:07,508 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 09:42:07,511 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2021-03-14 09:42:07,513 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 09:42:07,516 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2021-03-14 09:42:07,517 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 09:42:07,519 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2021-03-14 09:42:07,521 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 09:42:07,524 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2021-03-14 09:42:07,526 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 09:42:07,528 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2021-03-14 09:42:07,529 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 09:42:07,531 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2021-03-14 09:42:07,532 INFO sqlalchemy.engine.base.Engine ()

# CREATING TABLES

In [4]:
# Creatin Tables, we need the following:
# MetaData : this class holds all the table definitions and associated objects such as index, view, triggers, etc.
#some of the generic data types :BigInteger,Boolean,Date,DateTime,Float,Integer,Numeric,SmallInteger,String,Text,Time
#create_all() function uses the engine object to create all the defined table objects and stores the information in metadata.

In [5]:
from sqlalchemy import MetaData,Table,Column,Integer,String
meta = MetaData()

students=Table(
    'students', meta,
    Column('id', Integer,primary_key=True,autoincrement=True),
    Column('first_name', String(50)),
    Column('second_name', String(40)),
)

meta.create_all(engine)

2021-03-14 09:42:07,706 INFO sqlalchemy.engine.base.Engine DESCRIBE `students`
2021-03-14 09:42:07,710 INFO sqlalchemy.engine.base.Engine ()

# INSERT statement

In [6]:
#the INSERT statement is created by executing insert() method as follows
#ins = students.insert()
#more on insert 
#-str(ins)
#-ins.compile().params

In [7]:
ins = students.insert().values(first_name = 'Geoffrey',second_name = 'Kasibante')
# view query results before commiting the query using the below command
#ins.compile().params
engine.execute(ins)

2021-03-14 09:42:07,970 INFO sqlalchemy.engine.base.Engine INSERT INTO students (first_name, second_name) VALUES (%s, %s)
2021-03-14 09:42:07,971 INFO sqlalchemy.engine.base.Engine ('Geoffrey', 'Kasibante')
2021-03-14 09:42:07,991 INFO sqlalchemy.engine.base.Engine COMMIT

# SELECTING FROM DATABASE

In [8]:
#table_name.select()

In [9]:
select_table=students.select()
#engine.execute(select_table)
#Store query statement into a variable called result
result = engine.execute(select_table)

2021-03-14 09:42:08,287 INFO sqlalchemy.engine.base.Engine SELECT students.id, students.first_name, students.second_name
FROM students
2021-03-14 09:42:08,291 INFO sqlalchemy.engine.base.Engine ()

In [10]:
#viewing the exact data
for row in result:
   print (row)

(1, 'Geoffrey', 'Kasibante2')
(4, 'Geoffrey', 'Kasibante2')
(5, 'Geoffrey', 'Kasibante2')
(6, 'Geoffrey', 'Kasibante')

In [11]:
# WHERE clause of SELECT query can be applied by using Select.where()

In [12]:
select2=students.select().where(students.columns.id==2)
result1=engine.execute(select2)
for rows in result1:
    print(rows)

2021-03-14 09:42:08,803 INFO sqlalchemy.engine.base.Engine SELECT students.id, students.first_name, students.second_name
FROM students
WHERE students.id = %s
2021-03-14 09:42:08,805 INFO sqlalchemy.engine.base.Engine (2,)

# DELETE

In [13]:
from sqlalchemy import delete
stmt = (
    delete(students).
    where(students.columns.id == 3)
)

engine.execute(stmt)

2021-03-14 09:42:09,045 INFO sqlalchemy.engine.base.Engine DELETE FROM students WHERE students.id = %s
2021-03-14 09:42:09,050 INFO sqlalchemy.engine.base.Engine (3,)
2021-03-14 09:42:09,057 INFO sqlalchemy.engine.base.Engine COMMIT

In [14]:
#method2
stmt=students.delete().where(students.columns.id==2)
engine.execute(stmt)

view=students.select()
engine.execute(view).fetchall()

2021-03-14 09:42:09,176 INFO sqlalchemy.engine.base.Engine DELETE FROM students WHERE students.id = %s
2021-03-14 09:42:09,177 INFO sqlalchemy.engine.base.Engine (2,)
2021-03-14 09:42:09,183 INFO sqlalchemy.engine.base.Engine COMMIT
2021-03-14 09:42:09,192 INFO sqlalchemy.engine.base.Engine SELECT students.id, students.first_name, students.second_name
FROM students
2021-03-14 09:42:09,195 INFO sqlalchemy.engine.base.Engine ()

[(1, 'Geoffrey', 'Kasibante2'),
 (4, 'Geoffrey', 'Kasibante2'),
 (5, 'Geoffrey', 'Kasibante2'),
 (6, 'Geoffrey', 'Kasibante')]

# UPDATE

In [15]:
#method1:
from sqlalchemy import update

stmt = (
    update(students).
    where(students.columns.id == 2).
    values(second_name='Kalisa',first_name='Gof')
)
str(stmt)

'UPDATE students SET first_name=:first_name, second_name=:second_name WHERE students.id = :id_1'

In [16]:
#method2
stmt=students.update().where(students.c.first_name=='Geoffrey').values(second_name='Kasibante2')
engine.execute(stmt)
#view/select table
s = students.select()
engine.execute(s).fetchall()

2021-03-14 09:42:09,567 INFO sqlalchemy.engine.base.Engine UPDATE students SET second_name=%s WHERE students.first_name = %s
2021-03-14 09:42:09,570 INFO sqlalchemy.engine.base.Engine ('Kasibante2', 'Geoffrey')
2021-03-14 09:42:09,664 INFO sqlalchemy.engine.base.Engine COMMIT
2021-03-14 09:42:09,776 INFO sqlalchemy.engine.base.Engine SELECT students.id, students.first_name, students.second_name
FROM students
2021-03-14 09:42:09,778 INFO sqlalchemy.engine.base.Engine ()

[(1, 'Geoffrey', 'Kasibante2'),
 (4, 'Geoffrey', 'Kasibante2'),
 (5, 'Geoffrey', 'Kasibante2'),
 (6, 'Geoffrey', 'Kasibante2')]

# Using Textual SQL

In [17]:
#Text Plain String
from sqlalchemy import text
t = text("SELECT count(*),first_name FROM students group by first_name")
results=engine.execute(t)
for rows in results:
    print(rows)

2021-03-14 09:42:09,812 INFO sqlalchemy.engine.base.Engine SELECT count(*),first_name FROM students group by first_name
2021-03-14 09:42:09,813 INFO sqlalchemy.engine.base.Engine ()
(4, 'Geoffrey')

In [18]:
#The text()function requires Bound parameters in the named colon format. 
#They are consistent regardless of database backend. To send values in for the parameters, 
#we pass them into the execute() method as additional arguments.

#The following example uses bound parameters in textual SQL −

from sqlalchemy.sql import text
s = text("select students.first_name, students.second_name from students where students.first_name between :x and :y")
engine.execute(s, x = 'a', y = 'h').fetchall()

#The values of x = ’A’ and y = ’L’ are passed as parameters. 
#Result is a list of rows with names between ‘A’ and ‘L’ −

2021-03-14 09:42:09,912 INFO sqlalchemy.engine.base.Engine select students.first_name, students.second_name from students where students.first_name between %s and %s
2021-03-14 09:42:09,913 INFO sqlalchemy.engine.base.Engine ('a', 'h')

[('Geoffrey', 'Kasibante2'),
 ('Geoffrey', 'Kasibante2'),
 ('Geoffrey', 'Kasibante2'),
 ('Geoffrey', 'Kasibante2')]

In [19]:
#method2
#Using bindparam
from sqlalchemy import text,bindparam
stmt = text("SELECT * FROM students WHERE students.first_name BETWEEN :x AND :y")

stmt = stmt.bindparams(
   bindparam("x", type_= String), 
   bindparam("y", type_= String)
)

result = engine.execute(stmt, {"x": "A", "y": "h"})

# print results
for i in result:
    print(i)

2021-03-14 09:42:10,024 INFO sqlalchemy.engine.base.Engine SELECT * FROM students WHERE students.first_name BETWEEN %s AND %s
2021-03-14 09:42:10,026 INFO sqlalchemy.engine.base.Engine ('A', 'h')
(1, 'Geoffrey', 'Kasibante2')
(4, 'Geoffrey', 'Kasibante2')
(5, 'Geoffrey', 'Kasibante2')
(6, 'Geoffrey', 'Kasibante2')

In [20]:
#method3
# multiple condition Statements
#Using and_() function
#and_() function to combine multiple conditions in WHERE clause created with the help of text() function.

from sqlalchemy import and_
from sqlalchemy.sql import select
s = select([text("* from students")]) \
.where(
   and_(
      text("students.first_name between :x and :y"),
      text("students.id>2")
   )
)
engine.execute(s, x = 'A', y = 'H').fetchall()

2021-03-14 09:42:10,134 INFO sqlalchemy.engine.base.Engine SELECT * from students
WHERE students.first_name between %s and %s AND students.id>2
2021-03-14 09:42:10,136 INFO sqlalchemy.engine.base.Engine ('A', 'H')

[(4, 'Geoffrey', 'Kasibante2'),
 (5, 'Geoffrey', 'Kasibante2'),
 (6, 'Geoffrey', 'Kasibante2')]

# Using Aliases

In [21]:
#The alias in SQL corresponds to a “renamed” version of a table or SELECT statement, 
#which occurs anytime you say “SELECT * FROM table1 AS a”. The AS creates a new name for the table. 
#Aliases allow any table or subquery to be referenced by a unique name.

In [22]:
from sqlalchemy.sql import alias
st = students.alias("a")

In [23]:
#This alias can now be used in select() construct to refer to students table −
#method1
s = select([st]).where(st.c.id>2)

result=engine.execute(s)
for i in result:
    print(i)

2021-03-14 09:42:10,457 INFO sqlalchemy.engine.base.Engine SELECT a.id, a.first_name, a.second_name
FROM students AS a
WHERE a.id > %s
2021-03-14 09:42:10,461 INFO sqlalchemy.engine.base.Engine (2,)
(4, 'Geoffrey', 'Kasibante2')
(5, 'Geoffrey', 'Kasibante2')
(6, 'Geoffrey', 'Kasibante2')

In [24]:
#method2
s = select([st]).where(st.c.id>2)
engine.execute(s).fetchall()

2021-03-14 09:42:10,566 INFO sqlalchemy.engine.base.Engine SELECT a.id, a.first_name, a.second_name
FROM students AS a
WHERE a.id > %s
2021-03-14 09:42:10,571 INFO sqlalchemy.engine.base.Engine (2,)

[(4, 'Geoffrey', 'Kasibante2'),
 (5, 'Geoffrey', 'Kasibante2'),
 (6, 'Geoffrey', 'Kasibante2')]

# MULTIPLE TABLES

In [25]:
# using sqlite db

from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, ForeignKey
engine2 = create_engine('sqlite:///college2.db', echo=True)
meta2 = MetaData()

students = Table(
   'students', meta2, 
   Column('id', Integer, primary_key = True,autoincrement=True), 
   Column('name', String), 
   Column('lastname', String), 
)

addresses = Table(
   'addresses', meta2, 
   Column('id', Integer, primary_key = True), 
   Column('st_id', Integer, ForeignKey('students.id')), 
   Column('postal_add', String), 
   Column('email_add', String))



meta2.create_all(engine2)

2021-03-14 09:42:10,679 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-03-14 09:42:10,680 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 09:42:10,681 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-03-14 09:42:10,683 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 09:42:10,684 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("students")
2021-03-14 09:42:10,687 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 09:42:10,689 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("addresses")
2021-03-14 09:42:10,690 INFO sqlalchemy.engine.base.Engine ()

In [26]:
#show all the tables

#engine.table_names()
#meta.reflect(engine)
'''    
for table_name in engine2.table_names():
    print(table_name)


'''
engine2.table_names()

2021-03-14 09:42:10,800 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-03-14 09:42:10,806 INFO sqlalchemy.engine.base.Engine ()

['addresses', 'students']