In [7]:
import pandas as pd
import MySQLdb
'''mysql connection string '''
db_connection = MySQLdb.connect(host='localhost', 
                                db='***', 
                                user='root', 
                                passwd='***') 
print("Succesfully Connected to database using MySQLdb!") 
''''db_connection.close()'''

qry=pd.read_sql("SELECT * FROM sms_crm_incomming ",db_connection)
qry

Succesfully Connected to database using MySQLdb!

,id,date_received,resolution_code,sender_name,message,sender_number,locked_by
0,1,2020-11-08,sms100,kasibante,test11111,256752604798,kasibante
1,2,2020-11-01,sms100,kasibante,eeeeee,2567526047983333,kasibante
2,3,2020-11-16,eeee6666,333333,3333333,256752604798333,0

In [8]:
df_data=pd.DataFrame(qry)
df_data

,id,date_received,resolution_code,sender_name,message,sender_number,locked_by
0,1,2020-11-08,sms100,kasibante,test11111,256752604798,kasibante
1,2,2020-11-01,sms100,kasibante,eeeeee,2567526047983333,kasibante
2,3,2020-11-16,eeee6666,333333,3333333,256752604798333,0

In [9]:
duplcates_on_resolution_code=df_data.duplicated(['resolution_code'])
duplcates_on_resolution_code

0    False
1     True
2    False
dtype: bool

In [12]:
rm_duplcates_on_resolution_code=df_data.drop_duplicates(['resolution_code'])
rm_duplcates_on_resolution_code

,id,date_received,resolution_code,sender_name,message,sender_number,locked_by
0,1,2020-11-08,sms100,kasibante,test11111,256752604798,kasibante
2,3,2020-11-16,eeee6666,333333,3333333,256752604798333,0