# check version of anaconda , python

In [80]:
#import sys and platform
import sys,platform
sys.version

'3.7.0 (default, Aug 14 2018, 19:12:50) [MSC v.1900 32 bit (Intel)]'

In [81]:
#print python version
platform.python_version()

'3.7.0'

In [82]:
#variables and assignment
y=67
t="""Hello World"""
type(t)

str

# Tuples

In [83]:
#Tuples
#create tuple
first_tuple=[12,'Jack',45.6,'new',(3,2),'test']
#tuple positive index
first_tuple[1]

'Jack'

In [84]:
#tuple negative index
first_tuple[-1]

'test'

In [85]:
#check object type
type(first_tuple)

list

In [86]:
#tuple slicing (positive)
first_tuple[1:4]

['Jack', 45.6, 'new']

In [87]:
first_tuple[1:-1]

['Jack', 45.6, 'new', (3, 2)]

In [88]:
first_tuple.append('geoffrey')
first_tuple

[12, 'Jack', 45.6, 'new', (3, 2), 'test', 'geoffrey']

In [89]:
first_tuple.pop(3)

'new'

In [90]:
#view value at a particular index
first_tuple.remove('new')
first_tuple

ValueError: list.remove(x): x not in list

In [91]:
first_tuple.insert(1,'test1')
first_tuple

[12, 'test1', 'Jack', 45.6, (3, 2), 'test', 'geoffrey']

# Dictionaries

In [92]:
#create dictionary
first_dictionary={'John':'John@gmail.com','Kelly':'Kelly@gmail.com','id':[23,81]}
first_dictionary

{'John': 'John@gmail.com', 'Kelly': 'Kelly@gmail.com', 'id': [23, 81]}

In [93]:
#dictionary keys
first_dictionary.keys()

dict_keys(['John', 'Kelly', 'id'])

In [94]:
#dictionary values
first_dictionary.values()

dict_values(['John@gmail.com', 'Kelly@gmail.com', [23, 81]])

In [95]:
#update dictionary
first_dictionary.update({'id':[2,3]})
first_dictionary

{'John': 'John@gmail.com', 'Kelly': 'Kelly@gmail.com', 'id': [2, 3]}

In [96]:
#delete element by key from dictionary
del first_dictionary['John']
first_dictionary

{'Kelly': 'Kelly@gmail.com', 'id': [2, 3]}

In [97]:
#to view object
type(first_dictionary)

dict

# Set

In [98]:
first_set=set(['bmw','toyota','mercedece'])
second_set=set(['bmw22','toyota','mercedece'])
first_set

{'bmw', 'mercedece', 'toyota'}

In [99]:
second_set

{'bmw22', 'mercedece', 'toyota'}

In [100]:
type(first_set)

set

In [101]:
#combine sets(no duplicates)
combined_set=first_set|second_set
combined_set

{'bmw', 'bmw22', 'mercedece', 'toyota'}

In [102]:
#common elements in sets(duplicates)
common_elements_set=first_set & second_set
common_elements_set

{'mercedece', 'toyota'}

# Functions

In [11]:
#enumerate
store_list=['tom','geoffrey','kasibante']
for position,name in enumerate(store_list):
    print(position,name)

0 tom
1 geoffrey
2 kasibante

In [133]:
#change list to dictionary
store_map =dict((name,position) for position,name in enumerate(store_list))
store_map

{'tom': 0, 'geoffrey': 1, 'kasibante': 2}

In [136]:
#sort values
sorted(store_list)

['geoffrey', 'kasibante', 'tom']

In [137]:
#reverse function
num_list=range(15)
list(reversed(num_list))

[14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# Control Statement

In [153]:
#if else
marks=81
if marks>90:
    print ('Grade A')
elif 80<=marks<=90:
    print ('Grade B')
elif 70<=marks<=80:
    print ('Grade C')
elif 60<=marks<=70:
    print ('Grade D')
else:
    print ('Grade F')

Grade B

In [164]:
#for loop
stock_tickers=['AAPL','MSFT','GOOGL',None,'AMZ','CSCO','ORL']
stock_tickers

['AAPL', 'MSFT', 'GOOGL', None, 'AMZ', 'CSCO', 'ORL']

In [169]:
#for loop with continue
for tickers in (stock_tickers):
    if (tickers is None):
        continue
    print(tickers)

AAPL
MSFT
GOOGL
AMZ
CSCO
ORL

In [170]:
#for loop
for tickers in (stock_tickers):
    if (tickers is None):
        break
    print(tickers)

AAPL
MSFT
GOOGL

In [1]:
#while loops
temperature =100
while temperature>95:
    print(temperature)
    temperature=temperature-1

100
99
98
97
96

# Handling errors

In [4]:
def test_float(number):
    try:
        return float(number)
    except ValueError:
        return 'not a number, provided value is ',number

In [5]:
test_float("hello world")

('not a number, provided value is ', 'hello world')